In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
%matplotlib inline

In [3]:
df = pd.read_csv(r'C:\Users\POSITIVO UNION\DT&ML\Estatistica\dados\iris.csv')

In [4]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# Amostra Simples

In [7]:
#Deixar o resultado da amostra determinístico
np.random.seed(2345)

#150 amostras(tamanho da base de dados), de 0 a 1, com reposição e probabilidades equivalentes
amostra = np.random.choice(a = [0,1], size = 150, replace = True, p=[0.7, 0.3] )

#tamanho total da amostra
print(len(amostra))

#tamanho de cada elemento da amostra(0, 1)
print(len(amostra[amostra == 0]))
print(len(amostra[amostra == 1]))

150
101
49

In [29]:
base_1 = df.loc[amostra == 0]
base_1.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [27]:
base_2 = df.loc[amostra==1]
base_2.head()

    sepal length  sepal width  petal length  petal width        class
4            5.0          3.6           1.4          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa

# Amostragem Sistemática

In [36]:
#criação das variáveis de população, amostra e um valor
populacao = 150
amostra = 15
k = int(populacao/amostra)
k

10

In [39]:
#Definição do valor inicial da amostra, de 1 até k+1
r = np.random.randint(low = 1, high = k + 1, size = 1)
r

array([9])

In [43]:
#Lista da sequência a partir do valor inicial
acumulador = r[0]
sorteados = []
for i in range(amostra):
#     print(acumulador)
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109, 119, 129, 139, 149]

In [44]:
len(sorteados)

15

In [45]:
amost_sis = df.loc[sorteados]
amost_sis

     sepal length  sepal width  petal length  petal width            class
9             4.9          3.1           1.5          0.1      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
69            5.6          2.5           3.9          1.1  Iris-versicolor
79            5.7          2.6           3.5          1.0  Iris-versicolor
89            5.5          2.5           4.0          1.3  Iris-versicolor
99            5.7          2.8           4.1          1.3  Iris-versicolor
109           7.2          3.6           6.1          2.5   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

# Amostragem Estratificada

In [47]:
iris = df

In [50]:
iris['class'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: class, dtype: int64

In [52]:
iris.iloc[:, 0:4]

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [53]:
# iris.iloc[:, 0:4]: busca somente os atributos previsores, ou seja, os dados sobre pétala e sétala da planta
# iris.iloc[:, 4]: busca somente a classe, que é a espécie da planta (setosa, virginica ou versicolor)
# test_size: selecionamos 50% da base de dados, que serão copiados para as variáveis X e Y. Essa função retorna 4 valores,
# porém, vamos usar somente os 50% da base de dados e por isso colocamos "_" para os outros valores
# stratify: para retornar a amostra baseada na classe
X, _, y, _ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4],
                              test_size = 0.5, stratify = iris.iloc[:,4])
y.value_counts()

Iris-virginica     25
Iris-versicolor    25
Iris-setosa        25
Name: class, dtype: int64

In [54]:
infert = pd.read_csv(r'C:\Users\POSITIVO UNION\DT&ML\Estatistica\dados\infert.csv')

In [55]:
infert

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [56]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [57]:
#Criando um modelo estratificado com 40%
X1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                               test_size=0.6, stratify= infert.iloc[:, 1])

y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64